body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:   #424040;
    padding: 0px;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #4698cb;
    border-radius: 4px;
    height: 100vh;
    margin-left: 0;
    justify-content: 'center';
}

input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}
